<div class="col-xs-1 center-block" style="text-align:center;">
  <p class="text-justify">
<p>   quis textus iustus tempus terere post haec omnia fictus kkkkkkk est.</p> 
<p>usquam spero te frui spatium temporis translatione haec</p>
<p> quis textus iustus tempus terere post haec omnia fictus kkkkkkk est.</p>
<p>usquam spero te frui spatium temporis translatione haec</p>
<p> quis textus iustus tempus terere post haec omnia fictus kkkkkkk est.</p> 
<p>usquam spero te frui spatium temporis translatione haec</p>
<p> quis textus iustus tempus terere post haec omnia fictus kkkkkkk est. </p>
  <p>usquam spero te frui spatium temporis translatione haec</p>
  </div>